
<h3> View Airline Details</h3>
<div>
    <div>
        <label> <b> Destination: </b></label> {{airline.destination}}
    </div>
    <div>
        <label> <b> Departure: </b></label> {{airline.departure}}
    </div>
    <div>
        <label> <b> Cost: </b></label> {{airline.cost}}
    </div>
    <div>
        <label> <b> Rating: </b></label> {{airline.rating}}
    </div>
    <div>
        <label> <b> AirlineName: </b></label> {{airline.airlineName}}
    </div>
    <div>
        <label> <b> isinternational: </b></label> {{airline.isinternational}}
    </div>
</div>