/* 
.navbar-brand {
    padding: 0 15px;
    height: 1000px;
    line-height: 80px;
  } */

  .nav{
    height: 100px;
  }
  
  /* .nav-background {
    background-image: url("assets\3.jpg");
    background-size: cover;

    min-height: 100%;
} */